h2{
  font-size: 130%;
  font-weight: bold;
  color: #387b00;
  margin-top: 20px;
  text-align: center;
}

.texto {
  margin-top: 20px;
  display: flex;
  flex-flow:column;
  margin-right: 10%;
  padding: 0 2% 0 2%;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #e3e3e3;
}

.texto h1{
  font-size: 200%;
  font-weight: bold;
  color: #387b00;
  margin: 20px;
  text-align: center;
}

.texto p{
  font-size: 100%;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
  text-align: justify;
  padding: 5px 0 5px 0;
  margin: 10px 0 10px 0;
  line-height:1.4;
}

.texto img{
  max-width:800px;
  max-height:600px;
  margin-right: 10%;
  padding-left: 10%;
}

.slider
{
  align-items: center;
  margin: 30px;
}

.slider img{
  max-width:400px;
  max-height:400px;
  border: 2px solid #e3e3e3;
  padding: 0px;
  margin-left: 10%;
}

.slick-prev.slick-arrow::before, .slick-next.slick-arrow::before{
	color: black;
  justify-content: center;
}

.menu-busca img{
  max-width:16px;
  max-height:16px;
  width: auto;
  height: auto;
}

.menu-busca p{
  font-size: 110%;
  margin: 1px 1px 1px 1px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
}

.menu-busca iframe{
  max-width:250px;
  max-height:300px;
  width: auto;
  height: auto;
  transition: 0.1s all;
}

.menu-busca iframe:hover{
  transform: scale(1.6);
}

.menu-busca h1{
  font-size: 130%;
  margin: 20px 0 20px 0;
}

.menu-busca h2{
  font-size: 110%;
  margin: 20px 0 20px 0;
  color: rgba(30, 155, 0, 0.9);
  font-weight: bold;
}

.menu-busca {
  width: 18%;
}
